<h4>Meet our Chefs</h4>


<div class="container">
<div class="row p-4">
  <% @chef_offers.each do |offer| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <%= cl_image_tag offer.photo.key, height: 150, width: 150, class: "mt-3"%>
        <div class="card-body">
          <h5 class="card-title"><%= offer.name %></h5>
          <p><%= offer.cuisine_category %></p>
          <p><%= offer.dish_specialty %></p>
          <p><%= offer.previous_work_experience %></p>
          <p><%= offer.rating%></p>
          <p><%= offer.location %></p>
          <p><%= offer.price_per_hour%></p>
          <a href="<%= chef_offer_path(offer) %>" class="btn btn-primary" style="text-decoration: none;">Go somewhere</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
