<div class="container bg-white">
  <h2 class="mt-5 text-uppercase" style="letter-spacing:6px;"><%= @chef_offer.name %>
</h2>


  <div class="container mt-4 border-0 bg-white">
    <div style="background-color: white; max-width: 100vw; border-radius: 200px; box-shadow: 10px 10px 10px 5px #ABB2B9; border-width: 2px black">
      <div class="row">
        <div class="col-md-4" style="border-radius:200px;">
          <%= cl_image_tag @chef_offer.photo.key, style: "width: 100%; height: 100%; border-radius:2px; filter: grayscale(30%)" %>
        </div>

        <div class="col-md-4 mb-4 bg-white">
          <div class="card-body m-5 border-0">
            <div class="card-text text-justify">

              <p class="mb-4"><strong>Cuisine Specialty:</strong> <%= @chef_offer.cuisine_category %></p>
              <p class="mb-4"><strong>Dish Specialty:</strong> <%= @chef_offer.dish_specialty %></p>
              <p class="mb-4"><strong>Notable Work Experience:</strong> <%= @chef_offer.previous_work_experience %></p>
              <p class="mb-4"><strong>Location:</strong> <%= @chef_offer.location %></p>
            </div>

            <div class="d-flex justify-content-space-between">
              <p class="m-3"><strong>Rating:</strong> <%= @chef_offer.rating %> ⭐</p>
              <p class="m-3"><strong>Price per hour:</strong> €<%= @chef_offer.price_per_hour %></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="" style="width: 100px; height:100%">
        </div>
      </div>

    </div>
    </div>
      <div style="width: 100%; height: 400px; margin-top:20px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     </div>

</div>


<%= render 'bookings/new' %>
