
<h1><%= @chef_offer.name%></h1>
<p>Cuisine Specialty: <%= @chef_offer.cuisine_category %></p>
<p>Dish Specialty: <%= @chef_offer.dish_specialty %></p>
<p>Notable Work Experience: <%= @chef_offer.previous_work_experience %></p>
<p>Rating: <%= @chef_offer.rating %></p>
<p>Address: <%= @chef_offer.location%></p>
<p>Price per hour: €<%= @chef_offer.price_per_hour %></p>
