<nav class="navbar navbar-expand-lg bg-white shadow-lg py-3" style="opacity: 80%;">
  <div class="container" id="card-chef">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="http://res.cloudinary.com/dxl592x6b/image/upload/v1692798627/miihf72wgivvmb6o9p7p.png" class="avatar" alt="">
    </a>
    <a class="nav-first" href="<%= root_path %>">Chefly</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= chef_offers_path %>">Chefs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href=" <%=profile_path %>">Bookings</a>
        </li>
      </ul>

      <% if user_signed_in? %>
        <div> Welcome <%= current_user.name %> </div>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-login mx-2" %>
          <%else%>
            <a href="<%= new_user_registration_path %>" class="btn btn-login mx-2">Sign Up</a>
            <a href="<%= new_user_session_path %>" class="btn btn-signup">Login</a>
      <% end %>
    </div>
  </div>
</nav>
